@model ChatRoomViewModel

@{
    ViewBag.Title = "Chat Room";
    Layout = "_Layout";
}

<h2>Chat Room @Model.Name</h2>

<div class="container">
    <div class="row">&nbsp;</div>
    
    <form asp-action="SendMessage" method="post" id="messageForm">
        <input name="chatRoomId" type="hidden" id="chatRoomId" value="@Model.Id" />
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-6"><textarea style="width: 100%" type="text" name="message" id="messageInput"></textarea></div>
        </div>
        <div class="col-6">
            <button type="submit" id="sendButton">Send Message</button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ol id="messagesList">
            @foreach (var chatMessage in Model.Conversation)
            {
                <li>@chatMessage.Message</li>
            }
        </ol>
    </div>
</div>

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
